@charset "UTF-8";
/* ==========================================================================
   Include variables and mixins
   ========================================================================== */
/* ==========================================================================
   Global CSS variables
   ========================================================================== */
:root {
  --qode-header-light-color: $main-color;
  --qode-header-light-hover-color: $main-color;
  --qode-header-dark-color: $main-color-black;
  --qode-header-dark-hover-color: $main-color-black;
}

/* ==========================================================================
   Color variables
   ========================================================================== */
/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Underline mixins - begin
   ========================================================================== */
/* ==========================================================================
   Underline mixins - end
   ========================================================================== */
/* ==========================================================================
   Menu mixins - begin
   ========================================================================== */
/* ==========================================================================
   Menu mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - begin
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - begin
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - end
   ========================================================================== */
/* ==========================================================================
   Custom mixins - begin
   ========================================================================== */
/* ==========================================================================
   Custom mixins - end
   ========================================================================== */
body {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 1.6875em;
  font-weight: 200;
  color: var(--qodef-main-color);
  background-color: #fff;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--qodef-main-color);
  font-size: 60px;
  line-height: 1.0167em;
  margin: 20px 0;
}

@media only screen and (max-width: 680px) {
  h1 {
    font-size: 50px;
  }
}

h1 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h1 a:focus, h1 a:hover {
  color: var(--qodef-main-color);
}

h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--qodef-main-color);
  font-size: 50px;
  line-height: 1.04em;
  margin: 20px 0;
}

@media only screen and (max-width: 680px) {
  h2 {
    font-size: 42px;
  }
}

h2 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h2 a:focus, h2 a:hover {
  color: var(--qodef-main-color);
}

h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--qodef-main-color);
  font-size: 35px;
  line-height: 1.114em;
  margin: 20px 0;
}

h3 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h3 a:focus, h3 a:hover {
  color: var(--qodef-main-color);
}

h4 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--qodef-main-color);
  font-size: 25px;
  line-height: 1.12em;
  margin: 20px 0;
}

h4 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h4 a:focus, h4 a:hover {
  color: var(--qodef-main-color);
}

h5 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--qodef-main-color);
  font-size: 20px;
  line-height: 1.25em;
  margin: 20px 0;
}

h5 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h5 a:focus, h5 a:hover {
  color: var(--qodef-main-color);
}

h6 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--qodef-main-color);
  font-size: 17px;
  line-height: 1.294em;
  margin: 20px 0;
}

h6 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h6 a:focus, h6 a:hover {
  color: var(--qodef-main-color);
}

a,
p a {
  color: var(--qodef-main-color);
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

a:focus, a:hover,
p a:focus,
p a:hover {
  color: var(--qodef-main-color);
}

p {
  margin: 10px 0;
}

blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 95px;
  padding: 0 1.5% 0 20%;
  border: none;
  letter-spacing: 0.02em;
  overflow: hidden;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--qodef-main-color);
  font-size: 25px;
  line-height: 1.12em;
  quotes: none;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  blockquote {
    padding: 0 1.5% 0 23%;
  }
}

blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
  margin: 0;
}

@media (min-width: 681px) {
  blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
    padding: 0 1.5% 0 192px;
  }
}

blockquote.wp-block-pullquote {
  padding: 15% !important;
  text-align: center;
}

blockquote.wp-block-pullquote.alignleft {
  max-width: 420px;
}

blockquote.wp-block-pullquote.alignright {
  max-width: 420px;
}

blockquote:before, blockquote:after {
  content: '“';
  position: absolute;
  font-size: 280px;
  line-height: 0.65em;
  font-weight: 700;
  height: 70px;
}

blockquote:before {
  top: 0;
  left: 1.5%;
  color: var(--qodef-main-color);
}

blockquote:after {
  top: 10px;
  left: calc(1.5% + 10px);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--qodef-main-color);
}

blockquote.has-text-align-right {
  padding: 0 170px 0 1.5%;
}

blockquote.has-text-align-right:before {
  left: auto;
  right: 0;
}

blockquote.has-text-align-right:after {
  right: calc(1.5% - 10px);
}

@media (min-width: 681px) {
  body:not([class*="eldon-core"]) blockquote {
    padding: 0 1.5% 0 192px;
  }
  body:not([class*="eldon-core"]) blockquote.has-text-align-right {
    padding: 0 170px 0 1.5%;
  }
}

@media only screen and (max-width: 680px) {
  blockquote {
    padding-left: 5%;
  }
  blockquote:before, blockquote:after {
    display: none;
  }
}

blockquote > * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
  margin: 0;
}

blockquote p {
  margin: 0 !important;
}

blockquote:after {
  content: '';
}

blockquote cite {
  display: block;
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 400 !important;
  text-align: inherit !important;
  text-transform: uppercase !important;
}
